/* ENCLOSURE */
:popover-open {
  width: 50%;
  height: 100;
  position: absolute;
  inset: unset;
  bottom: 25px;
  left: 25px;
  margin: 0;
  color: black;
  background-color: AliceBlue;
  font-size: 25px;
}


.barbase {
  width: 100%;
  bottom: 25px;
  left: 25px;
  margin: 10;
  background-color: white;
}
.bar {
  width: 90%;
  bottom: 25px;
  left: 25px;
  margin: 0;
  color: white;
  background-color: green;
  font-size: 25px;
}

.feedBut {
  width: 30%;
  bottom: 25px;
  left: 25px;
  margin: 10;
  background-color: white;
}




.animals{
  height: 25%;
  width: 20%;
  top: 70vh;

  transition: left 3s linear;
}

.animalsh{
  height: 100%;
  width: 100%;
 
}

.pops{
  justify-content: center;
}


.pop {
  position: relative;
  display: none;
  z-index: 1;
  overflow: auto;
  width: 50vw;
  height: 25vh;
  text-align: center;
  background-color: #86eabb;

}

#close {
  position: absolute;
  right: 2%;
  font-size: 28px;
  font-weight: bold;
}