<!DOCTYPE html>

<!--
  Veronika, Ashley, Isabel, Naomi
  koala
  SoftDev
  P01
  2026-1-9
  time spent: 1.5
 -->

 <html>
   <head>
     <title>ENCLOSURE</title>
     <script src="https://cdn.tailwindcss.com/3.4.16"></script>
     <link rel="icon" type="image/x-icon" href="../static/favicon.ico">
     <link rel='stylesheet' href='../static/css/style.css'>
     <!-- <script src=".../static/js/script.js"></script> -->
     <style>
      body{
        background-image: url('static/test.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        min-height: 100vh;
      }
    </style>
   </head>
   <body>

     <!--NAV BAR-->
     <nav class = "">
      <div class="bg-gray-800 flex items-center justify-between h-20 p-4">
          <a class="flex items-center" href="/" >
              <img src="/static/favicon.ico" alt="icon" class="h-12 w-12 rounded">
          </a>
          <div class="p-5 flex flex-row justify-end space-x-4">
              <a class="font-semibold bg-transparent rounded-lg text-white hover:bg-white hover:text-gray-800 py-3 px-5 shadow-md shadow-white" href="/" onclick = "loadingScreen()">Home</a>
              <a class="font-semibold bg-transparent rounded-lg text-white hover:bg-white hover:text-gray-800 py-3 px-5 shadow-md shadow-white" href="/profile" onclick = "loadingScreen()">Profile</a>
              <a class="font-semibold bg-transparent rounded-lg text-white hover:bg-white hover:text-gray-800 py-3 px-5 shadow-md shadow-white" href="/rewards" onclick = "loadingScreen()">Rewards</a>
              <a class="font-semibold bg-transparent rounded-lg text-white hover:bg-white hover:text-gray-800 py-3 px-5 shadow-md shadow-white" href="/wild" onclick = "loadingScreen()">Wild</a>
              <a class="font-semibold bg-transparent rounded-lg text-white hover:bg-white hover:text-gray-800 py-3 px-5 shadow-md shadow-white" href="/logout" onclick = "loadingScreen()">Logout</a>
          </div>
      </div>
    </nav>


     <h1 class="text-3xl text-center uppercase my-3 font-bold">Enclosure Page</h1>

     <!-- ANIMALS -->

      <button popovertarget="myPopover">
      	<img src="https://tse1.mm.bing.net/th/id/OIP.1QN9rkUC3T3kmbnMfsnBIAHaE8?pid=ImgDet&w=474&h=316&rs=1&o=7&rm=3"
           	 alt="Button Image" style="width: 100px; height: 100px;">
      </button>

      <div popover id="myPopover">
        Hunger:
        <div class="barbase">
        <div id="myBar" class="bar" style="width:20%">20%</div>
        </div>
        <br>
        <button class="feedBut" onclick="move()">Feed</button>

        <script>
        function move() {
          var elem = document.getElementById("myBar");
          var width = 20;
          var id = setInterval(frame, 10);
          function frame() {
            if (width >= 100) {
              clearInterval(id);
            } else {
              width++;
              elem.style.width = width + '%';
              elem.innerHTML = width * 1  + '%';
            }
          }
        }
        </script>

      </div>
   </body>
 </html>
