<!DOCTYPE html>
<!-- Naomi Kurian, Isabel Zheng, Veronika Duvanova, Ashley Li
Koala
SoftDev
P02 – Makers Makin' It, Act I
2026-01-08 -->

<html>

<head>
  <title>Login</title>

  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
  <script src="https://cdn.tailwindcss.com/3.4.16"></script>
  <link rel="icon" href="/static/favicon.png" type="image/png">

</head>

<nav class = "">
  <div class="bg-gray-800 flex items-center justify-between h-20 p-4">
      <a class="flex items-center" href="/" >
          <img src="/static/favicon.ico" alt="icon" class="h-12 w-12 rounded">
      </a>
      <div class="p-5 flex flex-row justify-end space-x-4">
          <a class="font-semibold bg-transparent rounded-lg text-white hover:bg-white hover:text-gray-800 py-3 px-5 shadow-md shadow-white" href="/" onclick = "loadingScreen()">Home</a>
          <a class="font-semibold bg-transparent rounded-lg text-white hover:bg-white hover:text-gray-800 py-3 px-5 shadow-md shadow-white" href="/profile" onclick = "loadingScreen()">Profile</a>
          <a class="font-semibold bg-transparent rounded-lg text-white hover:bg-white hover:text-gray-800 py-3 px-5 shadow-md shadow-white" href="/rewards" onclick = "loadingScreen()">Rewards</a>
          <a class="font-semibold bg-transparent rounded-lg text-white hover:bg-white hover:text-gray-800 py-3 px-5 shadow-md shadow-white" href="/wild" onclick = "loadingScreen()">Wild</a>
          <a class="font-semibold bg-transparent rounded-lg text-white hover:bg-white hover:text-gray-800 py-3 px-5 shadow-md shadow-white" href="/logout" onclick = "loadingScreen()">Logout</a>
      </div>
  </div>
</nav>

<body class="">
  <div class="container">
    <div class="">
      <div class="">
        <div class="">
          <div class="">
            <h1 class="">Login</h1>
            <p class="">Please enter your username and password below:</p>

            <form method='POST' action="/login">
              {% if error %}
              <div class="alert alert-danger" role="alert">
                {{ error | safe }}
              </div>
              {% endif %}

              <div class="">
                <label for="username" class="form-label">USERNAME:</label>
                <input type="text" class="" name="username" required>
              </div>

              <div class="">
                <label for="password" class="">PASSWORD:</label>
                <input type="password" class="" name="password" id="password" required>
              </div>

              <div class="">
                <input type="submit" name="sub1" class="" value="Submit">
              </div>
            </form>

            <div class="">
              <button onclick="location.href='/register'" id="register"
                class="">Register</button>
            </div>
          </div>
        
        </div>
      </div>
    </div>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
