<!DOCTYPE html>
<!-- Naomi Kurian, Isabel Zheng, Veronika Duvanova, Ashley Li
Koala
SoftDev
P02 – Makers Makin' It, Act I
2026-01-08 -->

<html>

  <head>
    <title> Register </title>

    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <script src="https://cdn.tailwindcss.com/3.4.16"></script>
    <link rel="icon" href="/static/favicon.png" type="image/png">

  </head>

  <body>
    
    <nav class = "">
      <div class="bg-gray-800 flex items-center justify-between h-20 p-4">
          <a class="flex items-center" href="/" >
              <img src="/static/favicon.ico" alt="icon" class="h-12 w-12 rounded">
          </a>
          <div class="p-5 flex flex-row justify-end space-x-4">
              <a class="font-semibold bg-transparent rounded-lg text-white hover:bg-white hover:text-gray-800 py-3 px-5 shadow-md shadow-white" href="/" onclick = "loadingScreen()">Home</a>
              <a class="font-semibold bg-transparent rounded-lg text-white hover:bg-white hover:text-gray-800 py-3 px-5 shadow-md shadow-white" href="/profile" onclick = "loadingScreen()">Profile</a>
              <a class="font-semibold bg-transparent rounded-lg text-white hover:bg-white hover:text-gray-800 py-3 px-5 shadow-md shadow-white" href="/rewards" onclick = "loadingScreen()">Rewards</a>
              <a class="font-semibold bg-transparent rounded-lg text-white hover:bg-white hover:text-gray-800 py-3 px-5 shadow-md shadow-white" href="/wild" onclick = "loadingScreen()">Wild</a>
              <a class="font-semibold bg-transparent rounded-lg text-white hover:bg-white hover:text-gray-800 py-3 px-5 shadow-md shadow-white" href="/logout" onclick = "loadingScreen()">Logout</a>
          </div>
      </div>
    </nav>
    


      <div class="">
        <div class="row justify-content-center">
          <div class="col-md-6 col-lg-4">
            <div class="card shadow-sm">
              <div class="card-body">
                <h1 class="text-center mb-4"> Create an Account </h1>
                <p class="text-muted text-center mb-4">Please enter your username and password below:</p>

                <form method='POST' action="/register">
                  {% if error %}
                  <div class="alert alert-danger" role="alert">
                    {{ error | safe }}
                  </div>
                  {% endif %}

                  <div class="mb-3">
                    <label for="username" class="form-label">USERNAME:</label>
                    <input type="text" class="form-control" name="username" id="username" required>
                  </div>

                  <div class="mb-3">
                    <label for="password" class="form-label">PASSWORD:</label>
                    <input type="password" class="form-control" name="password" id="password" required>
                  </div>

                  <div class="mb-3">
                    <label for="password" class="form-label">CONFIRM PASSWORD:</label>
                    <input type="password" class="form-control" name="confirm" id="confirm" required>
                  </div>

                  <div class="d-grid gap-2">
                    <input type="submit" name="sub1" class="btn btn-primary" value="Register">
                  </div>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>

  </body>

  <footer>
  </footer>

</html>
