<!DOCTYPE html>

<!--
  Veronika, Ashley, Isabel, Naomi
  koala
  SoftDev
  P01
  2026-1-9
  time spent: 1.5
 -->

<html>
  <head>
    <title>REWARDS</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://cdn.tailwindcss.com/3.4.16"></script>
    <link rel="icon" type="image/x-icon" href="../static/favicon.ico">
  </head>
  <body>

    <!--NAV BAR-->
    <nav class = "">
      <div class="bg-gray-800 flex items-center justify-between h-20 p-4">
          <a class="flex items-center" href="/" >
              <img src="/static/favicon.ico" alt="icon" class="h-12 w-12 rounded">
          </a>
          <div class="p-5 flex flex-row justify-end space-x-4">
              <a class="font-semibold bg-transparent rounded-lg text-white hover:bg-white hover:text-gray-800 py-3 px-5 shadow-md shadow-white" href="/" onclick = "loadingScreen()">Home</a>
              <a class="font-semibold bg-transparent rounded-lg text-white hover:bg-white hover:text-gray-800 py-3 px-5 shadow-md shadow-white" href="/profile" onclick = "loadingScreen()">Profile</a>
              <a class="font-semibold bg-transparent rounded-lg text-white hover:bg-white hover:text-gray-800 py-3 px-5 shadow-md shadow-white" href="/rewards" onclick = "loadingScreen()">Rewards</a>
              <a class="font-semibold bg-transparent rounded-lg text-white hover:bg-white hover:text-gray-800 py-3 px-5 shadow-md shadow-white" href="/wild" onclick = "loadingScreen()">Wild</a>
              <a class="font-semibold bg-transparent rounded-lg text-white hover:bg-white hover:text-gray-800 py-3 px-5 shadow-md shadow-white" href="/logout" onclick = "loadingScreen()">Logout</a>
          </div>
      </div>
    </nav>


    <h1 class="text-3xl text-center uppercase my-3 font-bold">Rewards Page</h1>


  </body>
</html>
