<!DOCTYPE html>

<!--
  Veronika, Ashley, Isabel, Naomi
  koala
  SoftDev
  P01
  2026-1-9
  time spent: 1.5
 -->

<html>
  <head>
    <title>WILD</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://cdn.tailwindcss.com/3.4.16"></script>
    <link rel="icon" type="image/x-icon" href="../static/favicon.ico">
  </head>
  <body>

    <!--NAV BAR-->
    <div class="bg-gray-800">
      <div class="p-5 flex flex-row justify-end">
          <form action="{{ url_for('home') }}" method="POST" class="px-2"><input type="submit" value="HOME"
            class="font-semibold bg-transparent rounded-lg text-white hover:bg-white hover:text-gray-800 py-3 px-5 shadow-md shadow-white"></form>
          <form action="{{ url_for('profile') }}" method="POST" class="px-2"><input type="submit" value="PROFILE"
            class="font-semibold bg-transparent rounded-lg text-white hover:bg-white hover:text-gray-800 py-3 px-5 shadow-md shadow-white"></form>
          <form action="{{ url_for('rewards') }}" method="POST" class="px-2"><input type="submit" value="REWARDS"
            class="font-semibold bg-transparent rounded-lg text-white hover:bg-white hover:text-gray-800 py-3 px-5 shadow-md shadow-white"></form>
          <form action="{{ url_for('wild') }}" method="POST" class="px-2"><input type="submit" value="WILD"
            class="font-semibold bg-transparent rounded-lg text-white hover:bg-white hover:text-gray-800 py-3 px-5 shadow-md shadow-white"></form>
          <form action="{{ url_for('logout') }}" class="px-2"><input type="submit" value="LOG OUT"
            class="font-semibold bg-transparent rounded-lg text-white hover:bg-white hover:text-gray-800 py-3 px-5 shadow-md shadow-white"></form>
       </div>
    </div>


    <h1 class="text-3xl text-center uppercase my-3 font-bold">Wild Page</h1>


  </body>
</html>
